<section class="home-page-container">
    <div class="sections-wrapper">
        <!-- Logo Section Start -->
        <div class="logo-wrapper">
            <div class="logo-img-wrapper">
                <i style="font-size: 120px;color: #e4bf05!important;" class="icon-desktop-wifi"></i>
            </div>
            <h2 class="logo-text">Safety Kiosks</h2>
        </div>
        <!-- Logo Section Start -->

        <!-- Items Container -->
        <div class="items-wrapper">

            <!-- Item Wrapper Start -->
            <div class="item-wrapper" [routerLink]="['/kiosks']">
                <div class="item-icon-wrapper">
                    <i class="item-icon icon-online-stock"></i>
                </div>
                <span class="item-label">Kiosks</span>
            </div>
            <!-- Item Wrapper End -->

            <!-- Item Wrapper Start -->
            <div class="item-wrapper" [routerLink]="['/locations']">
                <div class="item-icon-wrapper">
                    <i class="item-icon icon-location-area"></i>
                </div>
                <span class="item-label">Locations</span>
            </div>
            <!-- Item Wrapper End -->

            <!-- Item Wrapper Start -->
            <div class="item-wrapper" [routerLink]="['/faq']">
                <div class="item-icon-wrapper">
                    <i class="item-icon icon-broadcast"></i>
                </div>
                <span class="item-label">F.A.Q</span>
            </div>
            <!-- Item Wrapper End -->

        </div>
        <!-- Items Container End -->
    </div>
</section>