<section class="card" *ngIf="!selectedKiosk">
  <div class="card-header">
      <span class="cat__core__title">
        <a [routerLink]="'../'">
          <i class="icon-chevron-left" style="font-weight:bold;"></i>
          <ng-container i18n>Kiosks</ng-container>&nbsp;|&nbsp;
        </a>
      </span>
    <search-input (ngModelChange)="searchText = $event" [(ngModel)]="searchText" ngDefaultControl></search-input>
    <div class="pull-right">
        <a class="btn btn-sm btn-success" (click)="onRoleCreate()" href="javascript: void(0);">
          <ng-container i18n>Add</ng-container>
          <span class="hidden-sm-down" i18n>Kiosk</span><i style="vertical-align:middle;" class="icon-plus-ui ml-2"></i></a>
     </div>
  </div>
  <div class="progress-view">
    <progress-bar class="full-width" *ngIf="kioskGrid.isSearching"></progress-bar>
  </div>
  <div class="card-block pt-0">
    <kiosk-grid #kioskGrid [searchText]="searchText" (selectRow)="onSelectRow($event);"></kiosk-grid>
  </div>
</section>

<router-outlet></router-outlet>

<ng-template #createModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalOptions.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngTemplateOutlet="formKioskTemplate"></ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="d('Close click')" i18n>Cancel</button>
    <button type="button" class="btn btn-success" [ladda]="isLoading" [disabled]="form.invalid" (click)="submitForm()">
      {{modalOptions.successButton}}
    </button>
  </div>
</ng-template>

<ng-template #formKioskTemplate>
  <form [formGroup]="form" name="form">
    <div class="form-group">
      <label for="name" class="form-label" i18n>Kiosk Name</label>
      <input class="form-control" id="name" formControlName="name">
      <div class="form-control-error" *ngIf="form.get('name').dirty && !form.get('name').valid">
        <ul>
          <li *ngIf="form.get('name').hasError('required')" i18n>Field is required</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="screenName" class="form-label" i18n>Screen Name</label>
      <input class="form-control" id="screenName" formControlName="screenName">
      <div class="form-control-error" *ngIf="form.get('screenName').dirty && !form.get('screenName').valid">
        <ul>
          <li *ngIf="form.get('screenName').hasError('required')" i18n>Field is required</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="kioskPhoneNumber" class="form-label" i18n>Phone Number</label>
      <input class="form-control" id="kioskPhoneNumber" formControlName="kioskPhoneNumber">
      <div class="form-control-error" *ngIf="form.get('kioskPhoneNumber').dirty && !form.get('kioskPhoneNumber').valid">
        <ul>
          <li *ngIf="form.get('kioskPhoneNumber').hasError('required')" i18n>Field is required</li>
        </ul>
      </div>
    </div>
    <file-uploader [label]="'Logo'" formControlName="logoURL"></file-uploader>
  </form>
</ng-template>