@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-size: 14px;
}

body{
    padding: 0;
    margin: 0;
    font-family: PT Sans,sans-serif;
    color: #514d6a;
    background-color: #eaeaea;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,h7,.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
    font-family: PT Sans,sans-serif;
    color: #514d6a;
}

a {
    text-decoration: none;
    color: #74708d;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

a:hover, a:active, a:focus {
    color: #0088ff;
    text-decoration: none;
}

.pull-right {
    float: right;
}

/* BUTTONS */
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}

.btn-group-justified > .btn-group > .btn {
    width: 100%;
}

.btn-link {
    color: #74708d;
}

.btn-link:focus, .btn-link:hover {
    color: #615d7c;
    text-decoration: none;
}

.btn {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
    transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;
    padding: 0.57rem 1.14rem;
    line-height: 1.7;
}

.btn:hover, .btn:active {
    -webkit-transition: color .1s ease-in-out, background .1s ease-in-out, border .1s ease-in-out;
    transition: color .1s ease-in-out, background .1s ease-in-out, border .1s ease-in-out;
}

.btn.btn-rounded {
    -webkit-border-radius: 100px;
            border-radius: 100px;
}

.btn.btn-squared {
    -webkit-border-radius: 0;
            border-radius: 0;
}

.btn.btn-sm {
    padding: 0.28rem 0.78rem;
}

.btn.btn-lg {
    padding: 0.85rem 1.42rem;
}

.btn.btn-link {
    color: #74708d;
    border-color: transparent !important;
    background: none !important;
    text-decoration: none;
}

.btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link.active {
    color: #0088ff;
}

.btn.btn-icon {
    padding: 0.71rem;
    line-height: 1rem;
    text-decoration: none !important;
}

.btn.btn-icon.btn-sm {
    padding: 0.5rem;
}

.btn.btn-icon.btn-lg {
    padding: 1.42rem;
}

.btn-group-vertical > label {
    margin-bottom: 0px;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}

.btn-group-justified > .btn-group > .btn {
    width: 100%;
}

.btn-group-justified.btn-group-vertical {
    display: block;
}

.btn-group-justified.btn-group-vertical > .btn-group {
    display: block;
    width: 100%;
}

.btn, .show > .btn {
    color: #74708d;
    background-color: #ffffff;
    border-color: #d2d9e5;
}

.btn:hover, .btn:active, .show > .btn:hover, .show > .btn:active {
    background-color: #dbdee4;
    border-color: #dbdee4;
}

.btn:hover:active, .btn:focus, .btn.active, .show > .btn:hover:active, .show > .btn:focus, .show > .btn.active {
    background: #cfd3db;
    border-color: #cfd3db;
}

.btn.btn-default, .btn.btn-primary, .btn.btn-secondary, .btn.btn-success, .btn.btn-info, .btn.btn-warning, .btn.btn-danger, .show > .btn.btn-default, .show > .btn.btn-primary, .show > .btn.btn-secondary, .show > .btn.btn-success, .show > .btn.btn-info, .show > .btn.btn-warning, .show > .btn.btn-danger {
    color: #ffffff !important;
}

.btn.btn-default, .show > .btn.btn-default {
    background-color: #acb7bf;
    border-color: #acb7bf;
}

.btn.btn-default:hover, .btn.btn-default:active, .show > .btn.btn-default:hover, .show > .btn.btn-default:active {
    background-color: #bdc6cc;
    border-color: #bdc6cc;
}

.btn.btn-default:hover:active, .btn.btn-default:focus, .btn.btn-default.active, .show > .btn.btn-default:hover:active, .show > .btn.btn-default:focus, .show > .btn.btn-default.active {
    background: #9ba8b2;
    border-color: #9ba8b2;
}

.btn.btn-primary, .show > .btn.btn-primary {
    background-color: #0190fe;
    border-color: #0190fe;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .show > .btn.btn-primary:hover, .show > .btn.btn-primary:active {
    background-color: #1f9dfe;
    border-color: #1f9dfe;
}

.btn.btn-primary:hover:active, .btn.btn-primary:focus, .btn.btn-primary.active, .show > .btn.btn-primary:hover:active, .show > .btn.btn-primary:focus, .show > .btn.btn-primary.active {
    background: #017fe0 !important;
    border-color: #017fe0 !important;
}

.btn.btn-secondary, .show > .btn.btn-secondary {
    background-color: #6a7a84;
    border-color: #6a7a84;
}

.btn.btn-secondary:hover, .btn.btn-secondary:active, .show > .btn.btn-secondary:hover, .show > .btn.btn-secondary:active {
    background-color: #798993;
    border-color: #798993;
}

.btn.btn-secondary:hover:active, .btn.btn-secondary:focus, .btn.btn-secondary.active, .show > .btn.btn-secondary:hover:active, .show > .btn.btn-secondary:focus, .show > .btn.btn-secondary.active {
    background: #5c6a73;
    border-color: #5c6a73;
}

.btn.btn-success, .show > .btn.btn-success {
    background-color: #46be8a;
    border-color: #46be8a;
}

.btn.btn-success:hover, .btn.btn-success:active, .show > .btn.btn-success:hover, .show > .btn.btn-success:active {
    background-color: #5dc698;
    border-color: #5dc698;
}

.btn.btn-success:hover:active, .btn.btn-success:focus, .btn.btn-success.active, .show > .btn.btn-success:hover:active, .show > .btn.btn-success:focus, .show > .btn.btn-success.active {
    background: #3caa7a;
    border-color: #3caa7a;
}

.btn.btn-info, .show > .btn.btn-info {
    background-color: #0887c9;
    border-color: #0887c9;
}

.btn.btn-info:hover, .btn.btn-info:active, .show > .btn.btn-info:hover, .show > .btn.btn-info:active {
    background-color: #099be6;
    border-color: #099be6;
}

.btn.btn-info:hover:active, .btn.btn-info:focus, .btn.btn-info.active, .show > .btn.btn-info:hover:active, .show > .btn.btn-info:focus, .show > .btn.btn-info.active {
    background: #0773ac;
    border-color: #0773ac;
}

.btn.btn-warning, .show > .btn.btn-warning {
    background-color: #f39834;
    border-color: #f39834;
}

.btn.btn-warning:hover, .btn.btn-warning:active, .show > .btn.btn-warning:hover, .show > .btn.btn-warning:active {
    background-color: #f5a751;
    border-color: #f5a751;
}

.btn.btn-warning:hover:active, .btn.btn-warning:focus, .btn.btn-warning.active, .show > .btn.btn-warning:hover:active, .show > .btn.btn-warning:focus, .show > .btn.btn-warning.active {
    background: #f18917;
    border-color: #f18917;
}

.btn.btn-danger, .show > .btn.btn-danger {
    background-color: #fb434a;
    border-color: #fb434a;
}

.btn.btn-danger:hover, .btn.btn-danger:active, .show > .btn.btn-danger:hover, .show > .btn.btn-danger:active {
    background-color: #fc6167;
    border-color: #fc6167;
}

.btn.btn-danger:hover:active, .btn.btn-danger:focus, .btn.btn-danger.active, .show > .btn.btn-danger:hover:active, .show > .btn.btn-danger:focus, .show > .btn.btn-danger.active {
    background: #fa252d;
    border-color: #fa252d;
}

.btn.btn-outline-default, .btn.btn-outline-primary, .btn.btn-outline-secondary, .btn.btn-outline-success, .btn.btn-outline-info, .btn.btn-outline-warning, .btn.btn-outline-danger, .show > .btn.btn-outline-default, .show > .btn.btn-outline-primary, .show > .btn.btn-outline-secondary, .show > .btn.btn-outline-success, .show > .btn.btn-outline-info, .show > .btn.btn-outline-warning, .show > .btn.btn-outline-danger {
    background-color: #ffffff;
}

.btn.btn-outline-default, .show > .btn.btn-outline-default {
    border-color: #acb7bf;
    color: #acb7bf;
}

.btn.btn-outline-default:hover, .btn.btn-outline-default:active, .show > .btn.btn-outline-default:hover, .show > .btn.btn-outline-default:active {
    background-color: #bdc6cc;
    border-color: #bdc6cc;
    color: #ffffff;
}

.btn.btn-outline-default:hover:active, .btn.btn-outline-default:focus, .btn.btn-outline-default.active, .show > .btn.btn-outline-default:hover:active, .show > .btn.btn-outline-default:focus, .show > .btn.btn-outline-default.active {
    background: #9ba8b2;
    border-color: #9ba8b2;
    color: #ffffff;
}

.btn.btn-outline-primary, .show > .btn.btn-outline-primary {
    border-color: #0190fe;
    color: #0190fe;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:active, .show > .btn.btn-outline-primary:hover, .show > .btn.btn-outline-primary:active {
    background-color: #1f9dfe;
    border-color: #1f9dfe;
    color: #ffffff;
}

.btn.btn-outline-primary:hover:active, .btn.btn-outline-primary:focus, .btn.btn-outline-primary.active, .show > .btn.btn-outline-primary:hover:active, .show > .btn.btn-outline-primary:focus, .show > .btn.btn-outline-primary.active {
    background: #017fe0;
    border-color: #017fe0;
    color: #ffffff;
}

.btn.btn-outline-secondary, .show > .btn.btn-outline-secondary {
    border-color: #6a7a84;
    color: #6a7a84;
}

.btn.btn-outline-secondary:hover, .btn.btn-outline-secondary:active, .show > .btn.btn-outline-secondary:hover, .show > .btn.btn-outline-secondary:active {
    background-color: #798993;
    border-color: #798993;
    color: #ffffff;
}

.btn.btn-outline-secondary:hover:active, .btn.btn-outline-secondary:focus, .btn.btn-outline-secondary.active, .show > .btn.btn-outline-secondary:hover:active, .show > .btn.btn-outline-secondary:focus, .show > .btn.btn-outline-secondary.active {
    background: #5c6a73;
    border-color: #5c6a73;
    color: #ffffff;
}

.btn.btn-outline-success, .show > .btn.btn-outline-success {
    border-color: #46be8a;
    color: #46be8a;
}

.btn.btn-outline-success:hover, .btn.btn-outline-success:active, .show > .btn.btn-outline-success:hover, .show > .btn.btn-outline-success:active {
    background-color: #5dc698;
    border-color: #5dc698;
    color: #ffffff;
}

.btn.btn-outline-success:hover:active, .btn.btn-outline-success:focus, .btn.btn-outline-success.active, .show > .btn.btn-outline-success:hover:active, .show > .btn.btn-outline-success:focus, .show > .btn.btn-outline-success.active {
    background: #3caa7a;
    border-color: #3caa7a;
    color: #ffffff;
}

.btn.btn-outline-info, .show > .btn.btn-outline-info {
    border-color: #0887c9;
    color: #0887c9;
}

.btn.btn-outline-info:hover, .btn.btn-outline-info:active, .show > .btn.btn-outline-info:hover, .show > .btn.btn-outline-info:active {
    background-color: #099be6;
    border-color: #099be6;
    color: #ffffff;
}

.btn.btn-outline-info:hover:active, .btn.btn-outline-info:focus, .btn.btn-outline-info.active, .show > .btn.btn-outline-info:hover:active, .show > .btn.btn-outline-info:focus, .show > .btn.btn-outline-info.active {
    background: #0773ac;
    border-color: #0773ac;
    color: #ffffff;
}

.btn.btn-outline-warning, .show > .btn.btn-outline-warning {
    border-color: #f39834;
    color: #f39834;
}

.btn.btn-outline-warning:hover, .btn.btn-outline-warning:active, .show > .btn.btn-outline-warning:hover, .show > .btn.btn-outline-warning:active {
    background-color: #f5a751;
    border-color: #f5a751;
    color: #ffffff;
}

.btn.btn-outline-warning:hover:active, .btn.btn-outline-warning:focus, .btn.btn-outline-warning.active, .show > .btn.btn-outline-warning:hover:active, .show > .btn.btn-outline-warning:focus, .show > .btn.btn-outline-warning.active {
    background: #f18917;
    border-color: #f18917;
    color: #ffffff;
}

.btn.btn-outline-danger, .show > .btn.btn-outline-danger {
    border-color: #fb434a;
    color: #fb434a;
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:active, .show > .btn.btn-outline-danger:hover, .show > .btn.btn-outline-danger:active {
    background-color: #fc6167;
    border-color: #fc6167;
    color: #ffffff;
}

.btn.btn-outline-danger:hover:active, .btn.btn-outline-danger:focus, .btn.btn-outline-danger.active, .show > .btn.btn-outline-danger:hover:active, .show > .btn.btn-outline-danger:focus, .show > .btn.btn-outline-danger.active {
    background: #fa252d;
    border-color: #fa252d;
    color: #ffffff;
}


.btn {
    color: white !important;
    cursor: pointer;
    border-radius: 2px!important;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 1px 7px 0 rgba(0,0,0,.12),0 3px 1px -1px rgba(0,0,0,.2)!important;
}


/* CARDS */
.card, .card-header, .list-group-item, .card-footer {
    border-color: #e4e9f0;
}

.card-header, .card-footer {
    background: #ffffff;
}

.card {
    margin-bottom: 1.35rem;
}


.cat__core__link--underlined {
    border-bottom: 1px solid rgba(57, 55, 73, 0.25);
}

.cat__core__link--underlined:hover {
    border-bottom-color: rgba(0, 136, 255, 0.2);
}

.cat__core__link--blue {
    color: #0088ff;
}

.cat__core__link--blue:hover {
    color: #0072d6;
}

.cat__core__link--blue.link-underlined {
    border-bottom: 1px solid rgba(0, 136, 255, 0.25);
}

.cat__core__link--blue.link-underlined:hover {
    border-bottom-color: rgba(0, 136, 255, 0.2);
}

.cat__core__title {
    font-size: 1.5rem;
    color: #393749;
}

.card{
    border-top:none;
    background: none !important;
}

/* MODAL */
.modal .modal-content {
    border: none;
}

.modal .modal-header .close {
    outline: none !important;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.modal .modal-header .close span {
    position: relative;
    top: 3px;
}

.modal.modal-size-small {
    padding-left: 10px;
    padding-right: 10px;
}

.modal.modal-size-small .modal-dialog {
    max-width: 300px;
    width: auto;
}

@media (max-width: 543px) {
    .modal.modal-size-small .modal-dialog {
        max-width: none;
    }
}

.modal.modal-size-large {
    padding-left: 10px;
    padding-right: 10px;
}

.modal.modal-size-large .modal-dialog {
    max-width: 980px;
    width: auto;
}

.modal-backdrop {
    background: #0e0b20;
}

.modal-backdrop.in {
    opacity: .3;
}

.form-group.header-input {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 4px;
}

.form-group.header-input .form-control {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

.form-group.header-input .form-control-error {
    right: auto;
    left: 0;
    bottom: 30px;
}

.form-group.header-input .form-control-error::after {
    right: auto;
    left: 20px;
}

/* FORMS */
input::-webkit-input-placeholder {
    color: #b8beca !important;
}

input::-moz-placeholder {
    color: #b8beca !important;
}

input:-moz-placeholder {
    color: #b8beca !important;
}

input:-ms-input-placeholder {
    color: #b8beca !important;
}

.form-actions {
    border-top: 1px solid #e4e9f0;
    padding-top: 1.42rem;
    margin: 1.42rem 0;
}

.form-control {
    font-family: "PT Sans", sans-serif;
    padding: 0.78rem 1.14rem;
    border-color: #e4e9f0;
    color: #74708d;
    border-radius: 2px !important;
}

.form-control.form-control-rounded {
    -webkit-border-radius: 500px;
            border-radius: 500px;
}

.form-control:focus {
    border-color: #0190fe;
}

.form-control.input-sm {
    padding: 0.28rem 0.57rem;
}

.col-form-label {
    padding-top: 0.64rem;
    padding-bottom: 0.64rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #eef0f4;
}

.input-group-addon {
    border-color: #e4e9f0;
    background-color: #eef0f4;
}

span.input-group-addon {
    outline: none !important;
}

.form-group.has-danger .form-control {
    border-color: #fb434a;
}

.form-group.has-success .form-control {
    border-color: #46be8a;
}

.form-group.has-warning .form-control {
    border-color: #f39834;
}

.form-group.has-focused .form-control {
    border-color: #0190fe;
}

.form-input-icon {
    position: relative;
}

.form-input-icon > i {
    color: #b8beca;
    position: absolute;
    margin: 0.92rem 0.14rem 0.28rem 0.71rem;
    z-index: 3;
    width: 1.14rem;
    font-size: 1.14rem;
    text-align: center;
    left: 0;
}

.form-input-icon .form-control {
    padding-left: 2.42rem;
}

.form-input-icon.form-input-icon-right > i {
    left: auto;
    right: 0.21rem;
    margin: 0.92rem 0.71rem 0.28rem 0.14rem;
}

.form-input-icon.form-input-icon-right .form-control {
    padding-left: 1.14rem;
    padding-right: 2.42rem;
}

/*  FORM VALIDATION */
.form-group {
    position: relative;
}

.form-control-error {
    background: #fb434a;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 37px;
    margin-bottom: 8px;
    max-width: 230px;
    font-size: 80%;
    z-index: 1;
}

.form-control-error:after {
    width: 0px;
    height: 0px;
    content: '';
    display: block;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #fb434a transparent transparent;
    position: absolute;
    right: 20px;
    bottom: -4px;
    margin-left: -5px;
}

.form-control-error ul {
    list-style: none;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

.form-control-error-list ul {
    list-style: none;
    color: #fb434a;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    font-size: 80%;
    font-weight: 400;
}

.has-danger .select2-selection--single, .has-danger .select2-selection--multiple {
    border-color: #fb434a !important;
}



/* PAGINATION */
.pagination {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .pagination .page-item {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .pagination .page-link {
    border: none !important;
    background-color: transparent;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #444;
    outline: none;
  
  
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding: 0;
    line-height: 2rem;
  }
  
  .pagination .page-link:hover, 
  .pagination .page-link:focus {
    background: transparent;
    color: #000;
  }
  
  .pagination .page-item.active .page-link {
    background: #313A40;
    color: #fff;
    transition: none;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #999;
    background-color: transparent;
    opacity: .5;
  }
  
  .pagination .page-link[aria-label="Previous"] span,
  .pagination .page-link[aria-label="Next"] span {
    display: none !important;
  }
  
  .pagination .page-link[aria-label="Previous"],
  .pagination .page-link[aria-label="Next"] {
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    text-transform: none;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .pagination .page-link[aria-label="Previous"]:before {
    content: "\ec96";
  }
  
  .pagination .page-link[aria-label="Next"]:before {
    content: "\ec9a";
  }
  
  .search-input {
    max-width: 150px;
    font-size: 1.2rem;
    line-height: 1.5;
    display: inline;
    padding: 0;
    border: none;
  }

 .actions > a {
    display: block;
    position: relative;
    padding: .9em;
    outline: none;
    background-color: #fff;
    border-left: .8rem solid #eaeaea;
}

.progress .indeterminate {
    background-color: #e4bf05 !important;
}


/* DROPDOWNS */

.dropdown-menu {
    top: 115%;
    padding: 0.57rem 0;
    border: none !important;
    border-radius: 2px !important;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2) !important;;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2) !important;;
}

.dropdown-menu .dropdown-icon {
    margin-right: 0.35rem;
}

.dropdown-menu .dropdown-divider {
    background-color: #e4e9f0;
}

.dropdown-menu .dropdown-header {
    padding: 0.5rem 1.07rem;
    color: #615d7c;
    font-size: 1rem;
    font-weight: 600;
}

.dropdown-menu .dropdown-item {
    color: #74708d;
    background: none;
    padding: 0.21rem 1.07rem;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.dropdown-menu .dropdown-item a {
    color: #74708d;
}

.dropdown-menu .dropdown-item a:hover, .dropdown-menu .dropdown-item a:active {
    background: none;
    color: #0088ff;
}

.dropdown-menu .dropdown-item.disabled {
    cursor: not-allowed;
    color: #e4e9f0 !important;
}

.dropdown-menu .dropdown-item.disabled a {
    color: #e4e9f0 !important;
    cursor: not-allowed;
}

.dropdown-menu .dropdown-item.active {
    background: #eef0f4 !important;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus {
    background: none;
    color: #0088ff;
}

.dropdown-animate {
    overflow: hidden;
}

.dropdown-animate > .dropdown-item, .dropdown-animate .dropdown-header {
    -webkit-animation-name: dropdown-slide-left;
            animation-name: dropdown-slide-left;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.dropdown-animate > .dropdown-item:nth-child(1), .dropdown-animate .dropdown-header:nth-child(1) {
    -webkit-animation-delay: .02s;
            animation-delay: .02s;
}

.dropdown-animate > .dropdown-item:nth-child(2), .dropdown-animate .dropdown-header:nth-child(2) {
    -webkit-animation-delay: .04s;
            animation-delay: .04s;
}

.dropdown-animate > .dropdown-item:nth-child(3), .dropdown-animate .dropdown-header:nth-child(3) {
    -webkit-animation-delay: .06s;
            animation-delay: .06s;
}

.dropdown-animate > .dropdown-item:nth-child(4), .dropdown-animate .dropdown-header:nth-child(4) {
    -webkit-animation-delay: .08s;
            animation-delay: .08s;
}

.dropdown-animate > .dropdown-item:nth-child(5), .dropdown-animate .dropdown-header:nth-child(5) {
    -webkit-animation-delay: .10s;
            animation-delay: .10s;
}

.dropdown-animate > .dropdown-item:nth-child(6), .dropdown-animate .dropdown-header:nth-child(6) {
    -webkit-animation-delay: .12s;
            animation-delay: .12s;
}

.dropdown-animate > .dropdown-item:nth-child(7), .dropdown-animate .dropdown-header:nth-child(7) {
    -webkit-animation-delay: .14s;
            animation-delay: .14s;
}

.dropdown-animate > .dropdown-item:nth-child(8), .dropdown-animate .dropdown-header:nth-child(8) {
    -webkit-animation-delay: .16s;
            animation-delay: .16s;
}

.dropdown-animate > .dropdown-item:nth-child(9), .dropdown-animate .dropdown-header:nth-child(9) {
    -webkit-animation-delay: .18s;
            animation-delay: .18s;
}

.dropdown-animate > .dropdown-item:nth-child(10), .dropdown-animate .dropdown-header:nth-child(10) {
    -webkit-animation-delay: .20s;
            animation-delay: .20s;
}

.open > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-bottom;
            animation-name: dropdown-slide-bottom;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: .01s;
            animation-delay: .01s;
    display: block;
}

.show > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-bottom;
            animation-name: dropdown-slide-bottom;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: .05s;
            animation-delay: .05s;
    display: block;
}

.show.dropup > .dropdown-menu {
    -webkit-animation-name: dropdown-slide-top;
            animation-name: dropdown-slide-top;
}

.dropdown .dropdown-toggle {
    position: relative;
}

.dropdown .dropdown-toggle:after {
    margin-top: -0.08rem;
    color: #d2d9e5;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.dropdown .dropdown-toggle > i {
    color: #d2d9e5;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.dropdown:hover .dropdown-toggle > i, .dropdown.show .dropdown-toggle > i {
    color: #b8beca;
}

.dropdown:hover .dropdown-toggle:after, .dropdown.show .dropdown-toggle:after {
    color: #b8beca;
}

@-webkit-keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

@keyframes dropdown-slide-top {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}


/* TABS */
.nav-tabs-horizontal .nav-tabs {
    border-bottom: 1px solid #e4e9f0;
    font-size: 1.1em;
}

.nav-tabs-horizontal .nav-tabs .nav-item {
    margin-bottom: -2px;
    cursor: pointer;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link.active, .nav-tabs-horizontal .nav-tabs .nav-item .nav-link:focus {
    border-bottom-color: #0190fe !important;
    background-color: transparent;
}

.nav-tabs-horizontal .nav-tabs .nav-item .nav-link:hover {
    border-bottom-color: #b8beca;
}

.nav-tabs-vertical:after {
    clear: both;
    content: "";
    display: block;
}

.nav-tabs-vertical .nav-tabs {
    border-bottom: none;
    border-right: 1px solid #e4e9f0;
    float: left;
    margin-right: 30px;
    display: block;
}

.nav-tabs-vertical .nav-tabs .nav-item {
    margin: 0px -2px 1px 0px;
    float: none;
    cursor: pointer;
}

.nav-tabs-vertical .nav-tabs .nav-item .nav-link {
    border: none;
    border-right: 3px solid transparent;
    padding-left: 0px;
    -webkit-border-radius: 0px;
            border-radius: 0px;
}

.nav-tabs-vertical .nav-tabs .nav-item .nav-link.active, .nav-tabs-vertical .nav-tabs .nav-item .nav-link:focus {
    border-right-color: #0190fe !important;
}

.nav-tabs-vertical .nav-tabs .nav-item .nav-link:hover {
    border-right-color: #b8beca;
}

/*page details styles*/
.card-block  .detailsHeader{
    background-color: white;
    padding: .75rem 1.25rem;
    margin: -1.25rem -1.25rem 0 -1.25rem;
}

.card-block  .detailsBody{
    padding: .75rem 0.25rem;
}


.card-block  .tContent{
    padding: .75rem 0.25rem;
}

.table {
    margin-bottom:0;
}

.ui-select-toggle{
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}